@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

.lobsterTwo700 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size:xx-large
}

.montserrat700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:xx-large
}

.montserrat400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: large;
}

.montserrat700large {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: large;
}

.hindMadurai300 {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 300;
    font-size: medium;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
